<div class='region__top'>
  {{ page.top }}
</div>
<div class='region__header'>
  {{ page.header }}
</div>

<div class='region__row'>
  <div class='region__content'>
    {{ page.content }}
  </div>
  {% if page.sidebar %}
    <div class='region__sidebar'>
      {{ page.sidebar }}
    </div>
  {% endif %}
</div>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
