<section class='landing js-landing'>
  <div class='landing__video-wrapper'>
    <!-- @TODO: Use the full screen image style for video preview. -->
    <video class='landing__video' poster="{{ file_url(content.field_home_page_video_preview['#items'][0].entity.uri[0].value) }}" autoplay loop muted>
      <source src="{{ file_url(content.field_home_page_video['#items'][0].entity.uri[0].value) }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class='landing__text'>
    <img class='landing__logo' src='/themes/custom/naturalmission/images/logo.png' alt />
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <div class="landing__title">
        natural mission
      </div>
    </a>
    <div class='landing__subtitle'>
      mission beach naturopath
    </div>
  </div>
  <!-- @TODO: find a way to get drupal menu in here. -->
  <div class=''>
    <div class='menu menu--home'>
      <i class="menu__button js-menu-button fa fa-bars" aria-hidden="true"></i>
      <ul class='menu__items'>
        <li class='menu__item js-menu__item'>
          <a href="/">Home</a>
        </li>
        <li class='menu__item js-menu__item'>
          <a href="/#about">About</a>
        </li>
        <li class='menu__item js-menu__item'>
          <a href="/#services">Services</a>
        </li>
        <li class='menu__item js-menu__item'>
          <a href="/#resources">Resources</a>
        </li>
        <li class='menu__item js-menu__item'>
          <a href="/articles">Articles</a>
        </li>
        <li class='menu__item js-menu__item'>
          <a href="/#contact">Contact</a>
        </li>
        <li class='menu__item menu__item--search js-search'>
          <input class='js-search__input menu__search-input menu__search-input--hidden' name='keys' type='text/javascript' />
          <i class='js-search__button js-menu__search-button menu__search-button'></i>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class='section' id='about'>
  <div class='section__content'>
    <h3 class='title title--right-center'>about me</h3>
    <div class='about'>
      <div class='about__profile'>
        {{ content.field_home_page_profile_picture }}
      </div>
      <div class='about__text'>
        <div class='text text--columns'>
          {{ content.field_home_page_about_text }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ content.field_home_page_about_links }}

<section class='section section--full-height' id='services'>
  <div class='section__content'>
    <h3 class='title'>Services</h3>
    {{ content.field_home_page_services }}
  </div>
</section>

<section class='section' id='resources'>
  <div class='section__content section__content--no-margin'>
    <h3 class='title title--right-center'>Resources</h3>
  </div>
</section>
{{ content.field_home_page_resource_links }}

<section class='section section--full-height section--no-mouse' id='contact'>
  <script type='text/javascript'>
    window.address = '{{ content.field_home_page_address['#items'][0].value|replace({"\n":'', "\r":''}) }}';
  </script>
  <div class='contact__map js-map'></div>
  <div class='section__content'>
    <h3 class='title text-center'>Contact</h3>
    <div class='contact__content'>
      <div class='contact__options'>
        <i data-target='skype' class='contact__option js-contact-option contact__option--skype'></i>
        <i data-target='email' class='contact__option js-contact-option contact__option--envelope'></i>
        <i data-target='phone' class='contact__option js-contact-option contact__option--phone'></i>
        <i data-target='address' class='contact__option js-contact-option contact__option--map-marker'></i>
      </div>
      <div class='contact__values'>
        <div class='contact__value' data-contact-option='skype'>
          {{ content.field_home_page_skype }}
        </div>
        <div class='contact__value' data-contact-option='email'>
          {{ content.field_home_page_email }}
        </div>
        <div class='contact__value' data-contact-option='phone'>
          {{ content.field_home_page_phone }}
        </div>
        <div class='contact__value' data-contact-option='address'>
          {{ content.field_home_page_address }}
        </div>
      </div>
    </div>
  </div>
</section>
