<section class='landing'>
  <div class='landing__video-wrapper'>
    <video class='landing__video' poster="placeholder.png" autoplay loop muted>
      <source src="{{ file_url(content.field_home_page_video['#items'][0].entity.uri[0].value) }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class='landing__text'>
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <div class="landing__title">
        natural mission
      </div>
    </a>
    <div class='landing__subtitle'>
      mission beach naturopath
    </div>
  </div>
  <div class='menu'>
    <i class="menu__button js-menu-button fa fa-bars" aria-hidden="true"></i>
    <ul class='menu__items'>
      <li class='menu__item js-menu__item' data-scroll-target='about'>
        <a>About</a>
      </li>
      <li class='menu__item js-menu__item' data-scroll-target='services'>
        <a>Services</a>
      </li>
      <li class='menu__item js-menu__item' data-scroll-target='resources'>
        <a>Resources</a>
      </li>
      <li class='menu__item js-menu__item' data-scroll-target='contact'>
        <a>Contact</a>
      </li>
    </ul>
  </div>
</section>

<section class='section section--short' data-scroll='about'>
  <div class='section__content'>
    <h3 class='title text-center'>about me</h3>
    <div class='about'>
      <div class='about__profile'>
        {{ content.field_home_page_profile_picture }}
      </div>
      <div class='about__text'>
        <div class='text text--columns'>
          {{ content.field_home_page_about_text }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ content.field_home_page_about_links }}

<section class='section' data-scroll='services'>
  <div class='section__content'>
    <h3 class='title'>Services</h3> {{ content.field_home_page_services }}
  </div>
</section>

<section class='section section--short' data-scroll='resources'>
  <div class='section__content'>
    <h3 class='title'>Resources</h3>
  </div>
</section>
{{ content.field_home_page_resource_links }}

<section class='section' data-scroll='contact'>
  <script type='text/javascript'>
    window.address = '{{ content.field_home_page_address['#
    items '][0].value|replace({"\n":'
    ', "\r":'
    '}) }}';
  </script>
  <div class='contact__map js-map'></div>
  <div class='section__content'>
    <h3 class='title text-center'>Contact</h3>
    <div class='contact__content'>
      <div class='contact__options'>
        <i data-target='skype' class='contact__option js-contact-option fa fa-skype'></i>
        <i data-target='email' class='contact__option js-contact-option fa fa-envelope'></i>
        <i data-target='phone' class='contact__option js-contact-option fa fa-phone'></i>
        <i data-target='address' class='contact__option js-contact-option fa fa-map-marker'></i>
      </div>
      <div class='contact__values'>
        <div class='contact__value' data-contact-option='skype'>
          {{ content.field_home_page_skype }}
        </div>
        <div class='contact__value' data-contact-option='email'>
          {{ content.field_home_page_email }}
        </div>
        <div class='contact__value' data-contact-option='phone'>
          {{ content.field_home_page_phone }}
        </div>
        <div class='contact__value' data-contact-option='address'>
          {{ content.field_home_page_address }}
        </div>
      </div>
    </div>
  </div>
</section>
