<div class='page'>
  <div class='page__content'>

    <div class='full-screen'>
      <video class='full-screen__content' autoplay loop>
        <source src="/themes/custom/naturalmission/media/Nature.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class='site-heading'>
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <div class="site-heading__title">
          natural mission
        </div>
      </a>
      <div class='site-heading__subtitle'>
        mission beach naturopath
      </div>
    </div>

    <div class='menu__wrapper'>
      <ul class='menu align-center'>
        <li class='js-menu__item' data-scroll-target='about'>
          <a>About</a>
        </li>
        <li class='js-menu__item' data-scroll-target='services'>
          <a>Services</a>
        </li>
        <li class='js-menu__item' data-scroll-target='resources'>
          <a>Resources</a>
        </li>
        <li class='js-menu__item' data-scroll-target='contact'>
          <a>Contact</a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class='page' data-scroll='about'>
  <div class='page__content'>

    <div class="row align-center">
      <div class="large-3 column">
        <div class='about__profile'>
          {{ content.field_home_page_profile_picture }}
        </div>
      </div>
      <div class="large-offset-1 large-6 column">
        <h3 class='page__title text-center'>about me</h3>
        <p>
          {{ content.field_home_page_about_text }}
        </p>
      </div>
    </div>

  </div>
</div>

{{ content.field_home_page_about_links }}

<div class='page' data-scroll='services'>
  <div class='page__content'>

    <div class="row">
      <div class="large-offset-5 large-6 columns end">
        <h3 class='page__title text-center'>Services</h3>
      </div>

      <div class='large-offset-6 large-5 columns end'>
        <div class='service__title'>service title</div>
      </div>
      <div class="large-offset-5 large-6 columns end service__text">
        here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this
        area.
      </div>

      <div class='large-offset-6 large-5 columns end'>
        <div class='service__title'>service title</div>
      </div>
      <div class="large-offset-5 large-6 columns end service__text">
        here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this
        area.
      </div>

      <div class='large-offset-6 large-5 columns end'>
        <div class='service__title'>service title</div>
      </div>
      <div class="large-offset-5 large-6 columns end service__text">
        here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this area. here is the text for this
        area.
      </div>
    </div>

  </div>
</div>

<div class='page' data-scroll='resources'>
  <div class='page__content page__content--no-bottom-margin'>
    <div class="row">
      <div class="large-offset-5 large-6 columns end">
        <h3 class='page__title text-center'>Resources</h3>
      </div>
    </div>

    {{ content.field_home_page_resource_links }}
    <div class="row expanded small-up-1 medium-up-3">
      <div class='column image'>
        <img src='http://lindawagner.net/blog/wp-content/uploads/2011/03/IMG_6171.jpg' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class='column image'>
        <img src='https://gymjunkies-designforest1.netdna-ssl.com/wp-content/uploads/2016/01/turmeric-benefits.jpg' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class='column image'>
        <img src='https://ota.com/sites/default/files/OrangeGrove.gif' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row expanded small-up-1 medium-up-3">
      <div class='column image'>
        <img src='http://www.doctorshealthpress.com/wp-content/uploads/2016/03/magnesium-rich-foods.jpg' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class='column image'>
        <img src='http://cchunterbooks.com/blog/wp-content/uploads/2016/06/Beach.jpg' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class='column image'>
        <img src='http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/620/Long+Run+620.jpg' alt/>
        <div class='resource'>
          <div class='resource__content'>
            <div class='resource__name'>Tumeric</div>
            <div class='resource__description'>It has been referred to as the devil of our generation.
              <br/>click below to find out why..</div>
            <a class='resource__link'>
              <i class="fa fa-link fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class='page' data-scroll='contact'>
  <div class='page__content page__content--no-top-margin'>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDId3kWjcDVdlFOzosFkm78XaFAH8PWiYQ"></script>
    <div id='googleMap'></div>
    <div class="row map-overlay">
      <div class="large-offset-5 large-6 columns end">
        <h3 class='page__title text-center'>Contact</h3>

        {{ content.field_home_page_address }}

        <div class='row'>
          <div class='small-2 columns'>
            <a>
              <i class="fa fa-skype fa-3x"></i>
            </a>
          </div>
          <div class='shrink columns contact__option'>
            {{ content.field_home_page_skype }}
          </div>
        </div>

        <div class='row'>
          <div class='small-2 columns'>
            <a>
              <i class="fa fa-envelope fa-3x"></i>
            </a>
          </div>
          <div class='shrink columns contact__option'>
            {{ content.field_home_page_email }}
          </div>
        </div>

        <div class='row'>
          <div class='small-2 columns'>
            <a>
              <i class="fa fa-phone fa-3x"></i>
            </a>
          </div>
          <div class='shrink columns contact__option'>
            {{ content.field_home_page_phone }}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
